# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# autoconf detritus
Makefile
Makefile.in
config.guess
autom4te.cache
aclocal.m4
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
compile
missing
stamp-h1
m4/*.m4
.deps
.dirstamp

# tags
TAGS
ID

# Emacs temporaries
*~

# compiled products
vpp_test
test-driver
plugin-renderer-vpp.conf
rpm/opflex-agent-renderer-vpp.spec
renderer-vpp-1.0.0.tar.gz
rpm/SOURCES
