BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: All
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  AfterFunction: true
  AfterNamespace: true
  BeforeElse: true
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true
NamespaceIndentation: None
UseTab: Never
